<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="TemplateGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>   
    
<!-- Modified by Apostolos Tsalkitzis -->    
   <virtualType name="TemplateGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Mageants\GiftCertificate\Model\ResourceModel\Templates\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">TemplateGirdFilterPool</argument>
        </arguments>
    </virtualType>
	<virtualType name="Mageants\GiftCertificate\Model\ResourceModel\Templates\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">gift_templates</argument>
            <argument name="resourceModel" xsi:type="string">Mageants\GiftCertificate\Model\ResourceModel\Templates</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="rocktech_giftcertificate_grid_data_source" xsi:type="string">Mageants\GiftCertificate\Model\ResourceModel\Templates\Grid\Collection</item>
            </argument>
        </arguments>
    </type>	
<!-- end of modification by Apostolos Tsalkitzis -->        
    

<!-- Modified by Apostolos Tsalkitzis -->    
	<virtualType name="CodeSetGridFilter" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>   
    <virtualType name="CodesetProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Mageants\GiftCertificate\Model\ResourceModel\Codeset\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">CodeSetGridFilter</argument>
        </arguments>
    </virtualType>
	<virtualType name="Mageants\GiftCertificate\Model\ResourceModel\Codeset\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">gift_code_set</argument>
            <argument name="resourceModel" xsi:type="string">Mageants\GiftCertificate\Model\ResourceModel\Codeset</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="rocktech_codeset_grid_data_source" xsi:type="string">Mageants\GiftCertificate\Model\ResourceModel\Codeset\Grid\Collection</item>
            </argument>
        </arguments>
    </type>	
<!-- end of modification by Apostolos Tsalkitzis -->      

<!-- Modified by Apostolos Tsalkitzis -->    
	<virtualType name="AccountGridFilter" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>   
   <virtualType name="CodesetProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Mageants\GiftCertificate\Model\ResourceModel\Account\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">AccountGridFilter</argument>
        </arguments>
    </virtualType>
	<virtualType name="Mageants\GiftCertificate\Model\ResourceModel\Account\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">gift_code_account</argument>
            <argument name="resourceModel" xsi:type="string">Mageants\GiftCertificate\Model\ResourceModel\Account</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="account_dataset" xsi:type="string">Mageants\GiftCertificate\Model\ResourceModel\Account\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
<!-- end of modification by Apostolos Tsalkitzis -->        
    
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="form_data" xsi:type="string">EntityItemGridCollection</item>
			</argument>
		</arguments>
	</type>
	<virtualType name="EntityItemGridCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">gift_templates</argument>
			<argument name="resourceModel" xsi:type="string">Mageants\GiftCertificate\Model\ResourceModel\Templates</argument>
		</arguments>
	</virtualType>
    
    <preference for="Magento\Catalog\Model\Design" type="Mageants\GiftCertificate\Model\Design" /> 
    
    <preference for="Magento\Checkout\Controller\Cart\Configure" type="Mageants\GiftCertificate\Controller\Cart\Configure" />   
     <type name="Magento\Customer\Api\AccountManagementInterface">
        <plugin name="check_customer_for_giftcertificate" type="Mageants\GiftCertificate\Plugin\AccountManagement" />
    </type>
    <preference for="Magento\Quote\Model\PaymentMethodManagement" type="Mageants\GiftCertificate\Model\PaymentMethodManagement" /> 

    <preference for="Magento\Sales\Block\Order\Totals" type="Mageants\GiftCertificate\Block\Giftorder\Totals" />    
    
    <preference for="Magento\Sales\Block\Adminhtml\Order\Invoice\Totals" type="Mageants\GiftCertificate\Block\Adminhtml\Order\Invoice\Totals"/>   
    
    <preference for="Mageants\GiftCertificate\Api\GiftCardManagementInterface" type="Mageants\GiftCertificate\Model\GiftCardManagement" />

</config>
