<?xml version="1.0"?>
<!-- 
 * @category Mageants Richsnippets
 * @package Mageants_Richsnippets
 * @copyright Copyright (c) 2019 Mageants
 * @author Mageants Team <support@mageants.com>
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mageants" translate="label" sortOrder="10">
            <label>Mageants</label>
        </tab>
        <section id="richsnippets" translate="label" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>SEO Rich Data</label>
            <tab>mageants</tab>
            <resource>Mageants_Richsnippets::config</resource>
            <group id="breadcrumbs" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Breadcrumbs</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="categorypath" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/breadcrumbs/enable">1</field>
                    </depends>
                    <label>Fixed Category Path</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="categorytype" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                     <depends>
                        <field id="*/breadcrumbs/enable">1</field>
                     </depends>
                    <label>Type</label>
                    <comment>   
                            This setting modifies the Breadcrumbs Type for the Search Engine only. It does not modify the Breadcrumbs on the store frontend. Choose 'Short' to make "Store > Subcategory 2 > Product" instead of "Store > Category > Subcategory 1 > Subcategory 2 > Product"
                    </comment>
                    <source_model>Mageants\Richsnippets\Model\Config\Source\Categorytype</source_model>
                </field>
            </group>
            <group id="includesiteinsearch" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Include Your Site In Search Result</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="websitename" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/includesiteinsearch/enable">1</field>
                    </depends>
                    <label>Website Name</label>
                </field>
            </group>
            <group id="organizations" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Organization</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="organization" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/organizations/enable">1</field>
                    </depends>
                    <label>Organization Name</label>
                </field>
                <field id="logourl" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/organizations/enable">1</field>
                    </depends>
                    <label>Logo Url</label>
                </field>
                <field id="description" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/organizations/enable">1</field>
                    </depends>
                    <label>Description</label>
                </field>
                <field id="descriptionlength" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/organizations/enable">1</field>
                    </depends>
                    <label>Description Length</label>
                    <comment>
                        Specify the number of characters which will be displayed in the description.
                    </comment>
                    <validate>validate-number</validate>
                </field>
                <field id="country" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/organizations/enable">1</field>
                    </depends>
                    <label>Country</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="state" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/organizations/enable">1</field>
                    </depends>
                    <label>Region/State</label>
                </field>
                <field id="zipcode" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/organizations/enable">1</field>
                    </depends>
                    <label>ZIP/Postal Code</label>
                    <validate>validate-number</validate>
                </field>
                <field id="city" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/organizations/enable">1</field>
                    </depends>
                    <label>City</label>
                </field>
                <field id="sales" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/organizations/enable">1</field>
                    </depends>
                    <label>Sales</label>
                    <comment>
                        An internationalized version of the phone number, starting with the "+" symbol and country code (+1 in the US and Canada). Examples: "+1-800-555-1212", "+44-2078225951"
                    </comment>
                </field>
                <field id="technicalsupport" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/organizations/enable">1</field>
                    </depends>
                    <label>Technical Support</label>
                    <comment>
                        An internationalized version of the phone number
                    </comment>
                </field>
                <field id="customerservice" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/organizations/enable">1</field>
                    </depends>
                    <label>Customer Service</label>
                    <comment>
                        An internationalized version of the phone number
                    </comment>
                </field>
            </group>    
            <group id="socialprofile" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Social Profiles</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Please enable the 'Organization' to get the 'Social Profiles' working.</comment>
                </field>
                <field id="facebook" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/socialprofile/enable">1</field>
                    </depends>
                    <label>Facebook</label>
                </field>
                <field id="twitter" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/socialprofile/enable">1</field>
                    </depends>
                    <label>Twitter</label>
                </field>
                <field id="google" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/socialprofile/enable">1</field>
                    </depends>
                    <label>Google+</label>
                </field>
                <field id="instagram" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/socialprofile/enable">1</field>
                    </depends>
                    <label>Instagram</label>
                </field>
                <field id="youtube" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/socialprofile/enable">1</field>
                    </depends>
                    <label>YouTube</label>
                </field>
                <field id="linkedin" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/socialprofile/enable">1</field>
                    </depends>
                    <label>LinkedIn</label>
                </field>
                <field id="myspace" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/socialprofile/enable">1</field>
                    </depends>
                    <label>Myspace</label>
                </field>
                <field id="pinterest" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/socialprofile/enable">1</field>
                    </depends>
                    <label>Pinterest</label>
                </field>
                <field id="soundcloud" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/socialprofile/enable">1</field>
                    </depends>
                    <label>SoundCloud</label>
                </field>
                <field id="tumblr" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/socialprofile/enable">1</field>
                    </depends>
                    <label>Tumblr</label>
                </field>
            </group>
            <group id="searchbox" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Search Box</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>    
                        Display search input box for home page in Google search results.
                    </comment>
                </field>
            </group>
            <group id="enableoncategorypage" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enabled On Category Pages</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>    
                        Add schema markup for each product on the category page.
                    </comment>
                </field>
            </group>
            <group id="productrichdata" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Rich Data</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="showavailability" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/productrichdata/enable">1</field>
                    </depends>
                    <label>Show Availability</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="showcondition" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/productrichdata/enable">1</field>
                    </depends>
                    <label>Show Condition</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="configproductas" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/productrichdata/enable">1</field>
                    </depends>
                    <label>Show Configurable Products as</label>
                    <source_model>Mageants\Richsnippets\Model\Config\Source\ProductShowOption</source_model>
                </field>
                <field id="groupedproductas" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/productrichdata/enable">1</field>
                    </depends>
                    <label>Show Grouped Products as</label>
                    <source_model>Mageants\Richsnippets\Model\Config\Source\ProductShowOption</source_model>
                </field>
                <field id="description" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/productrichdata/enable">1</field>
                    </depends>
                    <label>Description</label>
                    <source_model>Mageants\Richsnippets\Model\Config\Source\Description</source_model>
                </field>
                <field id="showrating" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/productrichdata/enable">1</field>
                    </depends>
                    <label>Show Rating</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="brand" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/productrichdata/enable">1</field>
                    </depends>
                    <label>Brand</label>
                    <source_model>Mageants\Richsnippets\Model\Config\Source\Attributes</source_model>
                </field>
                <field id="manufacturer" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/productrichdata/enable">1</field>
                    </depends>
                    <label>Manufacturer</label>
                    <source_model>Mageants\Richsnippets\Model\Config\Source\Attributes</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
