<?xml version="1.0"?>
<!--
  ~ Copyright © 2016 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magestore_OrderSuccess::all" title="Order Success" sortOrder="1" translate="title">
                    <resource id="Magestore_OrderSuccess::order_process" title="Order Fulfilment" translate="title">
                        <resource id="Magestore_FulfilSuccess::pick_request" title="Pick Items" sortOrder="30" translate="title">
                            <resource id="Magestore_FulfilSuccess::pick_request_all_batch" title="View all Batchs" sortOrder="1" translate="title"/>
                            <resource id="Magestore_FulfilSuccess::pick_move_to_need_ship" title="Move To Prepare Fulfil" sortOrder="10" translate="title"/>
                        </resource>                    
                        <resource id="Magestore_FulfilSuccess::pack_request" title="Pack Items" sortOrder="40" translate="title">
                            <resource id="Magestore_FulfilSuccess::move_to_pick" title="Move To Pick" sortOrder="10" translate="title"/>
                            <resource id="Magestore_FulfilSuccess::move_to_need_ship" title="Move To Prepare Fulfil" sortOrder="20" translate="title"/>
                        </resource>
                        <resource id="Magestore_FulfilSuccess::ready_to_ship_package" title="Delivery Packages" sortOrder="50" translate="title"/>
                    </resource>
                    
                    <resource id="Magestore_OrderSuccess::setting" title="Setting">
                        <resource id="Magestore_FulfilSuccess::configuration_menu" title="Order Fulfillment Configuration" sortOrder="20" translate="title"/>
                    </resource>                        
                </resource>
                
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Magestore_FulfilSuccess::configuration" title="Order Fulfillment Configuration" translate="title"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>