<!--
  ~ Copyright © 2016 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<input class="admin__control-text" type="text" data-bind="
    attr: {
        name: inputName,
        id: uid,
        disabled: disabled,
    },
    event: {mouseover:beforeChange, change: changeWarehouse},
    hasFocus: focused"
   placeholder="Scan pack request"
/>

<!--<input class="admin__control-text" type="text" data-bind="-->
                <!--attr: {-->
                    <!--id: index,-->
                    <!--placeholder: placeholder-->
                <!--}"-->
                <!--id="fulltext" placeholder="Search by keyword">-->