<?xml version="1.0"?>
<!-- 
 * @category Mageants MaintenanceMode
 * @package Mageants_MaintenanceMode
 * @copyright Copyright (c) 2019 Mageants
 * @author Mageants Team <support@mageants.com>
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="maintenancemode" frontName="maintenancemode">
            <module name="Mageants_MaintenanceMode"/>
        </route>
    </router>
</config>
