<!-- <div data-bind="visible: shouldShowMessage">
	<div>It is Called</div>
   	<strong><span data-bind="html: getOrderFeeLabel()"></span></strong>
   	<select id="orderFee" class="shipping-extra-fees" data-bind="
   		options: getCustomFeeAmount,
	    optionsText: 'feesname',
	    optionsValue: 'price',
	    optionsCaption: 'Select Additional Order',
	    event:{ change:removePlace} ">
	</select>
</div> -->
<a href="javascript:void(0)" id="gift-code" data-bind="i18n: 'Apply Gift Certificate'">  <i class="fa fa-angle-down" id="gift-code-arrow"></i></a>
<input type="hidden" id="base-gift-url" />
<div class="gift-code-block">
	<form id="gift-certificate-form" method="post">
		<input class="input-text gift-certificate-code" id="gift-certificate-code" name="gift_certificate_code" value="" data-bind="attr:{placeholder: $t('Enter Gift Certificate Code')}" type="text" required>
		<button class="action apply-certificate primary" type="submit" data-bind="i18n: 'Apply'"><span> </span></button>
		<button class="action apply-certificate primary" type="button" id="check_status"><span data-bind="i18n: 'Check Status'"></span></button>
		<div class="loading"></div>
	</form>	
	<div id="message"> <span class="error-msg" data-bind="i18n: 'Enter Gift Certificate'"></span></div>
	<div > <span style="color:#f00" data-bind="i18n: 'Note: Gift Ceritificate cannot be used to buy  gift certificate'"></span></div>
</div>
