<!--
  ~ Copyright © 2016 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->
<!--@subject {{trans "Reset your %store_name password" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var supplier.supplier_name":"Supplier Name",
} @-->
{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "%name," name=$supplier.supplier_name}}</p>
<p>{{trans "There has been a request to change the password for your account recently."}}</p>
<p>{{trans "If you requested this change, set a new password here:"}}</p>

<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td align="center">
                        {{trans '<a href="%reset_url">Set a New Password</a>' reset_url=$url|raw}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<p>{{trans "If you did not make this request, you can ignore this email and your password will remain the same."}}</p>

{{template config_path="design/email/footer_template"}}
