<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: isDisplayedEarning() -->
<tr class="totals rewardpoint-earning excl">
    <th class="mark" colspan="1" scope="row" data-bind="html: getEarningLabel()"></th>
    <td class="amount">
        <span class="price" data-bind="text: getEarningPoint(), attr: {'data-th': earning_label}"></span>
    </td>
</tr>
<!-- /ko -->

<!-- ko if: isDisplayedSpending() -->
<tr class="totals rewardpoint-spending excl">
    <th class="mark" colspan="1" scope="row" data-bind="html: getSpendingLabel()"></th>
    <td class="amount">
        <span class="price" data-bind="text: getSpendingPoint(), attr: {'data-th': spending_label}"></span>
    </td>
</tr>

<!-- /ko -->

<!-- ko if: isDisplayedUsePoint() -->

<tr class="totals rewardpoint-use_point excl">
    <th class="mark" colspan="1" scope="row" data-bind="text: use_point_label"></th>
    <td class="amount">
        <span class="price" data-bind="text: getUsePoint(), attr: {'data-th': use_point_label}"></span>
    </td>
</tr>

<!-- /ko -->
