<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <rockshippingmodel>
				<active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Mageants\ShippingPerProduct\Model\Carrier\RockShippingModel</model>
                <name>Mageants Shipping</name>
                <price>15.00</price>
                <title>Mageants Shipping Per Product</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </rockshippingmodel>
        </carriers>
    </default>
</config>
