<!--
  ~ Copyright © 2017 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<!--@subject {{trans "Your gift card at %store_name" store_name=$store.getFrontendName() }} @-->
<!--@vars
{"htmlescape var=$name":"Recipient Name",
"htmlescape var=$sendername":"Sender name",
"var code":"Gift Card Code",
"var balance":"Gift Card Balance",
"var status":"Status",
"htmlescape var=$message":"Message",
"var expiredat":"Expired At"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:13px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:13px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{var store.getBaseUrl()}}">
                                <img src="{{var logo_url}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/>
                            </a>
                        </td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
                                <strong>{{trans "Dear %customer_name" customer_name=$giftvoucher.getCustomerName() }}</strong>,<br/>
                                {{trans "This email is to notify that you have successfully bought Gift Card(s) at %store_name." store_name=$store.getFrontendName() }}<br/>
                                {{trans "You can use Gift Card(s) to purchase other products "}}
                                <a href="{{var store.getBaseUrl()}}">{{trans "here"}}</a> {{if giftvoucher.getGiftcardTemplateId()}}{{trans " or "}}<a href="{{var store.getBaseUrl()}}/giftvoucher/index/printemail/k/{{var secure_key}}">{{trans " print now"}}</a>{{/if}}.<br/>
                                
                            </p>							                            
                        </td>
                    </tr>
                    <tr>
                        {{if giftvoucher.getGiftcodeTemplateId()}}
                        <td style="padding: 15px 0px 15px 0px" align="center" width="600">
                            <img src="{{var url}}" height="365" style="margin-left: 15px; float: left;border-radius: 0 0 5px 5px;"/>
                        </td>
                        {{else}}
                        <td>
                            <br/>
                                <p>{{trans "Your Gift code: %gift_code" gift_code=$giftvoucher.getGiftCode() }}
                                <br/>
                                {{trans "Your Gift code value: %balance" balance=$giftvoucher.getGiftcodeBalance() }}
                                </p>
                            <br/>
                        </td>
                        {{/if}}
                    </tr>
                    <tr>
                        <td>
                            <p>
                                {{trans "If you have any questions on your Gift card, please feel free to contact us at "}}
                                <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>
                                {{trans " or by phone at "}}
                                {{config path='general/store_information/phone'}}.
                            </p>
                            <p>{{trans "Yours sincerely, "}}<br/><strong>{{var store.getFrontendName()}}</strong></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
