<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="giftcertificate" frontName="giftcertificate">
            <module name="Mageants_GiftCertificate" before="Magento_Backend" />
        </route>
    </router>
</config>