<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright © 2018 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magestore\Payment\Model\Payment\Type\FlatPayments">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="cashforpos" xsi:type="string">cashforpos</item>
                <item name="ccforpos" xsi:type="string">ccforpos</item>
                <item name="store_credit" xsi:type="string">store_credit</item>
            </argument>
        </arguments>
    </type>

    <type name="Magestore\Payment\Model\Payment\RefundType\AcceptedPayments">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="cashforpos" xsi:type="string">cashforpos</item>
                <item name="ccforpos" xsi:type="string">ccforpos</item>
            </argument>
        </arguments>
    </type>

    <!-- config -->
    <preference for="Magestore\Webpos\Api\Config\ConfigRepositoryInterface" type="Magestore\Webpos\Model\Config\ConfigRepository"/>
    <preference for="Magestore\Webpos\Api\Data\Config\SystemConfigInterface" type="Magestore\Webpos\Model\Config\Data\SystemConfig"/>
    <preference for="Magestore\Webpos\Api\Data\Config\CurrencyInterface" type="Magestore\Webpos\Model\Config\Data\Currency"/>
    <preference for="Magestore\Webpos\Api\Data\Config\ConfigInterface" type="Magestore\Webpos\Model\Config\Config"/>
    <preference for="Magestore\Webpos\Api\Data\Config\PriceFormatInterface" type="Magestore\Webpos\Model\Config\Data\PriceFormat"/>
    <preference for="Magestore\Webpos\Api\Data\Config\GuestCustomerInterface" type="Magestore\Webpos\Model\Config\Data\GuestCustomer"/>
    <preference for="Magestore\Webpos\Api\Data\Config\CustomerGroupInterface" type="Magestore\Webpos\Model\Config\Data\CustomerGroup"/>
    <preference for="Magestore\Webpos\Api\Data\Config\ShippingInterface" type="Magestore\Webpos\Model\Config\Data\Shipping"/>
    <preference for="Magestore\Webpos\Api\Data\Config\PaymentInterface" type="Magestore\Webpos\Model\Config\Data\Payment"/>
    <preference for="Magestore\Webpos\Api\Data\Config\ProductTaxClassesInterface" type="Magestore\Webpos\Model\Config\Data\ProductTaxClasses"/>
    <preference for="Magestore\Webpos\Api\Data\Config\LocationInterface" type="Magestore\Webpos\Model\Config\Data\Location"/>
    <preference for="Magestore\Webpos\Api\Data\Config\PaymentTypeInterface" type="Magestore\Webpos\Model\Config\Data\PaymentType"/>
    <preference for="Magestore\Webpos\Api\Data\Config\RefundPaymentTypeInterface" type="Magestore\Webpos\Model\Config\Data\RefundPaymentType"/>
    <preference for="Magestore\Webpos\Api\Data\InventorySales\SalesChannelInterface" type="Magestore\Webpos\Model\InventorySales\SalesChannel"/>
    <!-- End: config -->
    <preference for="Magestore\Webpos\Api\Data\Website\WebsiteInformationInterface" type="Magestore\Webpos\Model\Website\WebsiteInformation"/>
    <preference for="Magestore\Webpos\Api\Website\WebsiteInformationRepositoryInterface" type="Magestore\Webpos\Model\Website\WebsiteInformationRepository"/>
    <preference for="Magestore\Webpos\Api\Shipping\ShippingMethodRepositoryInterface" type="Magestore\Webpos\Model\Shipping\ShippingMethodRepository"/>
    <preference for="Magestore\Webpos\Api\Data\Shipping\ShippingMethodInterface" type="Magestore\Webpos\Model\Shipping\ShippingMethod"/>
    <preference for="Magento\Customer\Model\ResourceModel\Customer\Indexer\Collection" type="Magestore\Webpos\Model\ResourceModel\Customer\Indexer\Collection"/>
    <preference for="Magento\Quote\Model\QuoteRepository\Plugin\AccessChangeQuoteControl" type="Magestore\Webpos\Model\QuoteRepository\Plugin\AccessChangeQuoteControl"/>
    <!-- end rewrite api controller -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="webpos_location_listing_data_source" xsi:type="string">Magestore\Webpos\Model\ResourceModel\Location\Location\Grid\Collection</item>
                <item name="webpos_pos_listing_data_source" xsi:type="string">Magestore\Webpos\Model\ResourceModel\Pos\Pos\UiGrid\Collection</item>
                <item name="webpos_denomination_listing_data_source" xsi:type="string">Magestore\Webpos\Model\ResourceModel\Denomination\Denomination\Grid\Collection</item>
                <item name="webpos_closed_session_listing_data_source" xsi:type="string">Magestore\Webpos\Model\ResourceModel\Shift\Shift\Grid\Collection</item>
                <item name="webpos_unconverted_listing_data_source" xsi:type="string">Magestore\Webpos\Model\ResourceModel\Checkout\PosOrder\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magestore\Webpos\Api\Staff\StaffManagementInterface" type="Magestore\Webpos\Model\Staff\StaffManagement" />
    <preference for="Magestore\Webpos\Api\Data\Staff\Login\LoginResultInterface" type="Magestore\Webpos\Model\Staff\Data\Login\LoginResult" />
    <preference for="Magestore\Webpos\Api\Data\Staff\Login\PosResultInterface" type="Magestore\Webpos\Model\Staff\Data\Login\PosResult" />
    <preference for="Magestore\Webpos\Api\Data\Staff\Login\LocationResultInterface" type="Magestore\Webpos\Model\Staff\Data\Login\LocationResult" />
    <preference for="Magestore\Webpos\Api\Data\Staff\Login\AvailableLocationInterface" type="Magestore\Webpos\Model\Staff\Data\Login\AvailableLocation" />
    <preference for="Magestore\Webpos\Api\Data\Staff\Login\Location\AddressInterface" type="Magestore\Webpos\Model\Staff\Data\Login\Location\Address" />
    <preference for="Magestore\Webpos\Api\Data\Staff\SessionInterface" type="Magestore\Webpos\Model\Staff\Session"/>
    <preference for="Magestore\Webpos\Api\Staff\SessionRepositoryInterface" type="Magestore\Webpos\Model\Staff\SessionRepository" />
    <preference for="Magestore\Webpos\Api\Data\Staff\SessionSearchResultsInterface" type="Magestore\Webpos\Model\ResourceModel\Staff\Session\Collection"/>
    <preference for="Magestore\Webpos\Api\Data\Staff\Logout\LogoutResultInterface" type="Magestore\Webpos\Model\Staff\Data\Logout\LogoutResult" />


    <preference for="Magestore\Webpos\Api\Data\Pos\PosInterface" type="Magestore\Webpos\Model\Pos\Pos" />
    <preference for="Magestore\Webpos\Api\Data\Pos\EnterPosInterface" type="Magestore\Webpos\Model\Pos\Pos" />
    <preference for="Magestore\Webpos\Api\Pos\PosRepositoryInterface" type="Magestore\Webpos\Model\Pos\PosRepository" />
    <preference for="Magestore\Webpos\Api\Data\Pos\PosSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />


    <!-- Location -->
    <preference for="Magestore\Webpos\Api\Data\Location\LocationInterface" type="Magestore\Webpos\Model\Location\Location"/>
    <preference for="Magestore\Webpos\Api\Data\Location\LocationSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Magestore\Webpos\Api\Location\LocationRepositoryInterface" type="Magestore\Webpos\Model\Location\LocationRepository"/>
    <type name="Magestore\Webpos\Model\ResourceModel\Location\Location\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">webpos_location</argument>
            <argument name="resourceModel" xsi:type="string">Magestore\Webpos\Model\ResourceModel\Location\Location</argument>
        </arguments>
    </type>
    <!-- /End: Location -->


    <!-- Search Criteria -->
    <preference for="Magestore\Webpos\Api\SearchCriteriaInterface" type="Magestore\Webpos\Model\SearchCriteria" />
    <!-- /Search Criteria -->

    <!-- inventory api -->
    <preference for="Magestore\Webpos\Api\Inventory\StockItemRepositoryInterface" type="Magestore\Webpos\Model\Inventory\StockItemRepository"/>
    <preference for="Magestore\Webpos\Api\Data\Inventory\StockItemInterface" type="Magestore\Webpos\Model\Inventory\Stock\Item"/>
    <preference for="Magestore\Webpos\Api\Data\Inventory\AvailableQtyInterface" type="Magestore\Webpos\Model\Inventory\Stock\AvailableQty"/>
    <preference for="Magestore\Webpos\Api\Data\Inventory\ExternalStockInterface" type="Magestore\Webpos\Model\Inventory\Stock\ExternalStock"/>
    <!-- end inventory api -->
    <!-- Category api -->
    <preference for="Magestore\Webpos\Api\Data\Catalog\CategoryInterface" type="Magestore\Webpos\Model\Catalog\Category"/>
    <preference for="Magestore\Webpos\Api\Data\Catalog\CategorySearchResultsInterface" type="Magestore\Webpos\Model\Catalog\CategorySearchResults"/>
    <preference for="Magestore\Webpos\Api\Catalog\CategoryRepositoryInterface" type="Magestore\Webpos\Model\Catalog\CategoryRepository"/>
    <!-- End: Category api -->
    <!-- product api -->
    <preference for="Magestore\Webpos\Api\Catalog\ProductRepositoryInterface" type="Magestore\Webpos\Model\Catalog\ProductRepository"/>
    <preference for="Magestore\Webpos\Api\Catalog\ProductSearchRepositoryInterface" type="Magestore\Webpos\Model\Catalog\ProductSearchRepository" />
    <preference for="Magestore\Webpos\Api\Data\Catalog\ProductInterface" type="Magestore\Webpos\Model\Catalog\Product"/>
    <preference for="Magestore\Webpos\Api\Data\Catalog\SimpleProductInterface" type="Magestore\Webpos\Model\Catalog\Product"/>
    <!-- end product api -->

    <!-- product options -->
    <preference for="Magestore\Webpos\Api\Catalog\ProductOptionsRepositoryInterface" type="Magestore\Webpos\Model\Catalog\ProductOptionsRepository"/>
    <preference for="Magestore\Webpos\Api\Data\Catalog\Option\ProductOptionsInterface" type="Magestore\Webpos\Model\Catalog\Option\ProductOptions"/>
    <preference for="Magestore\Webpos\Api\Data\Catalog\Option\ConfigOptionsInterface" type="Magestore\Webpos\Model\Catalog\Option\ConfigOptions"/>
    <preference for="Magestore\Webpos\Api\Data\Catalog\Option\GiftCardPriceOptionsInterface" type="Magestore\Webpos\Model\Catalog\Option\GiftCardPriceOptions"/>
    <preference for="Magestore\Webpos\Api\Data\Catalog\Option\GiftCardTemplateInterface" type="Magestore\Webpos\Model\Catalog\Option\GiftCardTemplate"/>
    <preference for="Magestore\Webpos\Api\Data\Catalog\Option\Config\Attribute\OptionInterface" type="Magestore\Webpos\Model\Catalog\Option\Config\Attribute\Option"/>
    <preference for="Magestore\Webpos\Api\Data\Catalog\Option\Config\Attribute\Option\ProductInterface" type="Magestore\Webpos\Model\Catalog\Option\Config\Attribute\Option\Product"/>

    <preference for="Magestore\Webpos\Api\Catalog\SwatchOptionRepositoryInterface" type="Magestore\Webpos\Model\Catalog\SwatchOptionRepository"/>
    <preference for="Magestore\Webpos\Api\Data\Catalog\Option\SwatchOptionSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Magestore\Webpos\Api\Data\Catalog\Option\SwatchOptionInterface" type="Magestore\Webpos\Model\Catalog\Option\SwatchOption"/>
    <preference for="Magestore\Webpos\Api\Data\Catalog\Option\Swatch\SwatchInterface" type="Magestore\Webpos\Model\Catalog\Option\Swatch\Swatch"/>

    <preference for="Magestore\Webpos\Api\Catalog\Attribute\AttributesRepositoryInterface" type="Magestore\Webpos\Model\Catalog\Attribute\AttributesRepository"/>
    <!-- end product options -->

    <preference for="Magestore\Webpos\Api\Data\Payment\PaymentInterface" type="Magestore\Webpos\Model\Payment\Payment"/>
    <preference for="Magestore\Webpos\Api\Payment\PaymentRepositoryInterface" type="Magestore\Webpos\Model\Payment\PaymentRepository"/>

    <!-- checkout api -->
    <preference for="Magestore\Webpos\Api\Checkout\CheckoutRepositoryInterface" type="Magestore\Webpos\Model\Checkout\CheckoutRepository"/>
    <!-- end: checkout api -->

    <!-- order -->
    <preference for="Magestore\Webpos\Api\Data\Sales\OrderSearchResultInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Magestore\Webpos\Api\Sales\OrderRepositoryInterface" type="Magestore\Webpos\Model\Sales\OrderRepository"/>
    <preference for="Magestore\Webpos\Api\Sales\OrderSearchRepositoryInterface" type="Magestore\Webpos\Model\Sales\OrderSearchRepository"/>
    <preference for="Magestore\Webpos\Api\Sales\Order\InvoiceRepositoryInterface" type="Magestore\Webpos\Model\Sales\Order\InvoiceRepository"/>
    <preference for="Magestore\Webpos\Api\Sales\Order\InvoiceManagementInterface" type="Magestore\Webpos\Model\Sales\Order\InvoiceManagement"/>
    <preference for="Magestore\Webpos\Api\Sales\Order\CreditmemoRepositoryInterface" type="Magestore\Webpos\Model\Sales\Order\CreditmemoRepository"/>
    <preference for="Magestore\Webpos\Api\Data\Sales\Order\CreditmemoInterface" type="Magestore\Webpos\Model\Sales\Order\Creditmemo"/>
    <preference for="Magestore\Webpos\Api\Data\Sales\Order\Creditmemo\ItemInterface" type="Magestore\Webpos\Model\Sales\Order\Creditmemo\Item"/>
    <preference for="Magestore\Webpos\Api\Sales\Order\StatusRepositoryInterface" type="Magestore\Webpos\Model\Sales\Order\StatusRepository"/>
    <!-- end order -->

    <!-- shipment -->
    <preference for="Magestore\Webpos\Api\Sales\Order\ShipmentRepositoryInterface" type="Magestore\Webpos\Model\Sales\Order\ShipmentRepository"/>
    <!-- end shipment -->

    <!-- place order -->
    <preference for="Magestore\Webpos\Api\Data\Checkout\OrderInterface" type="Magestore\Webpos\Model\Checkout\Order"/>
    <preference for="Magestore\Webpos\Api\Data\Checkout\SimpleOrderInterface" type="Magestore\Webpos\Model\Checkout\SimpleOrder"/>
    <preference for="Magestore\Webpos\Api\Data\Checkout\Order\ItemInterface" type="Magestore\Webpos\Model\Checkout\Order\Item"/>
    <preference for="Magestore\Webpos\Api\Data\Checkout\Order\Item\TaxInterface" type="Magestore\Webpos\Model\Checkout\Order\Item\Tax"/>
    <preference for="Magestore\Webpos\Api\Data\Checkout\Order\AddressInterface" type="Magestore\Webpos\Model\Checkout\Order\Address"/>
    <preference for="Magestore\Webpos\Api\Data\Checkout\Order\PaymentInterface" type="Magestore\Webpos\Model\Checkout\Order\Payment"/>
    <preference for="Magestore\Webpos\Api\Data\Checkout\Order\CommentInterface" type="Magestore\Webpos\Model\Checkout\Order\Comment"/>
    <!-- end place order -->

    <type name="Magento\Sales\Block\Adminhtml\Order\View\Info">
        <plugin name="changeOrderInfo" type="Magestore\Webpos\Plugin\Block\Adminhtml\Order\View\Info" sortOrder="1" />
    </type>
    <!-- start modify custom discount total -->
    <type name="Magento\Sales\Block\Order\Totals">
        <plugin name="webpos_change_custom_discount_order_totals_frontend_view" type="Magestore\Webpos\Plugin\Block\Order\Totals" sortOrder="1" disabled="false"/>
    </type>
    <!--end modify custom discount totals-->
    <preference for="Magestore\Webpos\Api\Tax\TaxRateRepositoryInterface" type="Magestore\Webpos\Model\Tax\TaxRateRepository"/>
    <preference for="Magestore\Webpos\Api\Tax\TaxClassRepositoryInterface" type="Magestore\Webpos\Model\Tax\TaxClassRepository"/>
    <preference for="Magestore\Webpos\Api\Tax\TaxRuleRepositoryInterface" type="Magestore\Webpos\Model\Tax\TaxRuleRepository"/>

    <preference for="Magestore\Webpos\Api\Data\Customer\CustomerSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Magestore\Webpos\Api\Customer\CustomerRepositoryInterface" type="Magestore\Webpos\Model\Customer\CustomerRepository"/>
    <preference for="Magestore\Webpos\Api\Data\Customer\CustomerInterface" type="Magestore\Webpos\Model\Customer\Data\Customer"/>
    <preference for="Magento\Customer\Model\Data\Customer" type="Magestore\Webpos\Model\Customer\Data\Customer"/>

    <!-- Loyalty -->
    <preference for="Magestore\Webpos\Api\Integration\LoyaltyRepositoryInterface" type="Magestore\Webpos\Model\Integration\LoyaltyRepository"/>
    <!-- End of Loyalty -->

    <!-- Quote -->
    <preference for="Magestore\Webpos\Api\Data\Checkout\QuoteInterface" type="Magestore\Webpos\Model\Checkout\Quote"/>
    <preference for="Magestore\Webpos\Api\Data\Checkout\Quote\AddressInterface" type="Magestore\Webpos\Model\Checkout\Quote\Address"/>
    <preference for="Magestore\Webpos\Api\Data\Checkout\Quote\ItemInterface" type="Magestore\Webpos\Model\Checkout\Quote\Item"/>
    <!-- End - Quote -->

    <!--Check Coupon-->
    <preference for="Magestore\Webpos\Api\Checkout\CouponManagementInterface" type="Magestore\Webpos\Model\Checkout\CouponManagement"/>
    <preference for="Magestore\Webpos\Api\Data\Checkout\RuleInterface" type="Magestore\Webpos\Model\Checkout\Data\Rule"/>
    <!-- End Check Coupon-->

    <!--Order model plugin-->
    <type name="Magento\Sales\Model\Order">
        <plugin name="webpos_model_order_plugin" type="Magestore\Webpos\Plugin\Sales\Model\Order" sortOrder="1" disabled="false"/>
    </type>
    <!-- End: Order model plugin-->

    <preference for="Magestore\Webpos\Api\Data\Country\CountryInterface" type="Magestore\Webpos\Model\Country\Country"/>
    <preference for="Magestore\Webpos\Api\Data\Country\RegionInterface" type="Magestore\Webpos\Model\Country\Region"/>
    <preference for="Magestore\Webpos\Api\Country\CountryRepositoryInterface" type="Magestore\Webpos\Model\Country\CountryRepository"/>

    <!-- Search Product on POS -->
    <virtualType name="rowsSearchFlatTableBuilder" type="Magestore\Webpos\Model\Indexer\Product\FlatTableBuilder">
        <arguments>
            <argument name="tableData" xsi:type="object">Magestore\Webpos\Model\Indexer\Product\Action\Rows\TableData</argument>
        </arguments>
    </virtualType>
    <type name="Magestore\Webpos\Model\Indexer\Product\Action\Rows">
        <arguments>
            <argument name="flatTableBuilder" xsi:type="object">rowsSearchFlatTableBuilder</argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\ResourceModel\Store">
        <plugin name="webposSearchProductIndexerStore" type="Magestore\Webpos\Model\Indexer\Product\Plugin\Store" />
    </type>
    <type name="Magento\Store\Model\ResourceModel\Group">
        <plugin name="webposSearchProductIndexerStoreGroup" type="Magestore\Webpos\Model\Indexer\Product\Plugin\StoreGroup" />
    </type>
    <!-- /Search Product on POS -->

    <preference for="Magestore\Webpos\Api\Data\Log\ProductDeletedInterface" type="Magestore\Webpos\Model\Log\ProductDeleted"/>
    <preference for="Magestore\Webpos\Api\Data\Log\CustomerDeletedInterface" type="Magestore\Webpos\Model\Log\CustomerDeleted"/>
    <preference for="Magestore\Webpos\Api\Data\Log\CategoryDeletedInterface" type="Magestore\Webpos\Model\Log\CategoryDeleted"/>
    <preference for="Magestore\Webpos\Api\Data\Log\OrderDeletedInterface" type="Magestore\Webpos\Model\Log\OrderDeleted"/>
    <preference for="Magestore\Webpos\Api\Log\ProductDeletedRepositoryInterface" type="Magestore\Webpos\Model\Log\ProductDeletedRepository"/>
    <preference for="Magestore\Webpos\Api\Log\CustomerDeletedRepositoryInterface" type="Magestore\Webpos\Model\Log\CustomerDeletedRepository"/>
    <preference for="Magestore\Webpos\Api\Log\CategoryDeletedRepositoryInterface" type="Magestore\Webpos\Model\Log\CategoryDeletedRepository"/>
    <preference for="Magestore\Webpos\Api\Log\OrderDeletedRepositoryInterface" type="Magestore\Webpos\Model\Log\OrderDeletedRepository"/>
    <preference for="Magestore\Webpos\Api\Data\Log\DataLogResultsInterface" type="Magestore\Webpos\Model\Log\DataLogResults"/>
    <preference for="Magestore\Webpos\Api\Data\Log\DataLogStringResultsInterface" type="Magestore\Webpos\Model\Log\DataLogResults"/>
    <preference for="Magestore\Webpos\Api\Log\DataLogRepositoryInterface" type="Magestore\Webpos\Model\Log\DataLogRepository"/>
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="pos_fulfill_online" xsi:type="string">sales_order.pos_fulfill_online</item>
                <item name="pos_location_id" xsi:type="string">sales_order.pos_location_id</item>
                <item name="pos_staff_id" xsi:type="string">sales_order.pos_staff_id</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- start credit memo -->
    <virtualType name="CreditmemoGridAggregator">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="pos_location_id" xsi:type="string">sales_creditmemo.pos_location_id</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- end credit memo -->
    <!-- Denomination api -->
    <preference for="Magestore\Webpos\Api\Denomination\DenominationRepositoryInterface" type="Magestore\Webpos\Model\Denomination\DenominationRepository"/>
    <preference for="Magestore\Webpos\Api\Data\Denomination\DenominationInterface" type="Magestore\Webpos\Model\Denomination\Denomination"/>
    <preference for="Magestore\Webpos\Api\Data\Denomination\DenominationSearchResultsInterface" type="Magestore\Webpos\Model\ResourceModel\Denomination\Denomination\Collection"/>
    <!-- end Denomination api -->
    <type name="Magestore\Webpos\Model\ResourceModel\Denomination\Denomination\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">webpos_cash_denomination</argument>
            <argument name="resourceModel" xsi:type="string">Magestore\Webpos\Model\ResourceModel\Denomination\Denomination</argument>
        </arguments>
    </type>
    <!-- shift api -->
    <preference for="Magestore\Webpos\Api\Shift\ShiftRepositoryInterface" type="Magestore\Webpos\Model\Shift\ShiftRepository"/>
    <preference for="Magestore\Webpos\Api\Shift\CashTransactionRepositoryInterface" type="Magestore\Webpos\Model\Shift\CashTransactionRepository"/>
    <preference for="Magestore\Webpos\Api\Data\Shift\ShiftInterface" type="Magestore\Webpos\Model\Shift\Shift"/>
    <preference for="Magestore\Webpos\Api\Data\Shift\CashTransactionInterface" type="Magestore\Webpos\Model\Shift\CashTransaction"/>
    <preference for="Magestore\Webpos\Api\Data\Shift\ShiftSearchResultsInterface" type="Magestore\Webpos\Model\ResourceModel\Shift\Shift\Collection"/>
    <!-- end of shift api -->

    <!-- modify \Magento\CatalogInventory\Model\Stock\Item -->
    <type name="Magento\CatalogInventory\Model\Stock\Item">
        <plugin name="webpos_model_cataloginventory_stock_item" type="Magestore\Webpos\Plugin\CatalogInventory\Model\Stock\Item" sortOrder="1" disabled="false"/>
    </type>
    <!-- shift api -->

    <!-- catalog rule -->
    <preference for="Magestore\Webpos\Api\CatalogRule\Product\PriceRepositoryInterface" type="Magestore\Webpos\Model\CatalogRule\Product\PriceRepository"/>
    <preference for="Magestore\Webpos\Api\Data\CatalogRule\Product\PriceInterface" type="Magestore\Webpos\Model\CatalogRule\Product\Price"/>
    <preference for="Magestore\Webpos\Api\Data\CatalogRule\Product\PriceSearchResultsInterface" type="Magestore\Webpos\Model\ResourceModel\CatalogRule\Product\Price\Collection"/>
    <preference for="Magestore\Webpos\Api\Data\CatalogRule\Product\PriceIdsSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <!-- end of catalog rule -->

    <!-- giftcard -->
    <preference for="Magestore\Webpos\Api\Data\Integration\Giftcard\GiftcardRefundRequestInterface" type="Magestore\Webpos\Model\Integration\Data\Giftcard\GiftcardRefundRequest"/>
    <preference for="Magestore\Webpos\Api\Integration\GiftcardRepositoryInterface" type="Magestore\Webpos\Model\Integration\GiftcardRepository"/>
    <preference for="Magestore\Webpos\Api\Integration\GiftcardManagementInterface" type="Magestore\Webpos\Model\Integration\GiftcardManagement"/>
    <preference for="Magestore\Webpos\Api\Data\Integration\Giftcard\GiftcardResponseInterface" type="Magestore\Webpos\Model\Integration\Data\Giftcard\GiftcardResponse"/>
    <preference for="Magestore\Webpos\Api\Data\Integration\Giftcard\GiftcardInterface" type="Magestore\Webpos\Model\Integration\Data\Giftcard\Giftcard"/>
    <!-- End - Gift card -->
    <type name="Magento\Sales\Model\Order\Address\Validator">
        <plugin name="validator_guest_address" type="Magestore\Webpos\Plugin\Order\Address\Validator" />
    </type>

    <!--Remove external stock if IM is not installed-->
    <type name="Magestore\Appadmin\Model\Staff\Acl\AclResource\Provider">
        <plugin name="removeCheckExternalStock" type="Magestore\Webpos\Plugin\Appadmin\Model\Staff\Acl\AclResource\Provider" sortOrder="1" />
    </type>
    <!--End remove external stock if IM is not installed-->

    <preference for="Magento\Sales\Model\ResourceModel\Order\Plugin\Authorization" type="Magestore\Webpos\Model\Sales\ResourceModel\Order\Plugin\Authorization"/>

    <!-- deploy pos app after run deploy:content -->
    <type name="Magento\Deploy\Service\DeployStaticContent">
        <plugin name="webpos_deploy_static_content" type="Magestore\Webpos\Plugin\Service\DeployStaticContent" />
    </type>
    <type name="Magento\Deploy\Model\DeployManager">
        <plugin name="webpos_deploy_manager" type="Magestore\Webpos\Plugin\Service\DeployManager" />
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="webposCommand" xsi:type="object">Magestore\Webpos\Console\Command\WebposCommand</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magestore\Webpos\Api\Console\WebposDeployInterface" type="Magestore\Webpos\Model\Deploy\DeployService" />

    <type name="Magento\Integration\Helper\Data">
        <plugin name="acl-intergration-data" type="Magestore\Webpos\Plugin\Integration\Data" sortOrder="100" />
    </type>

    <preference for="Magestore\Webpos\Api\WebposManagementInterface" type="Magestore\Webpos\Model\WebposManagement" />
    <preference for="Magestore\Webpos\Api\MultiSourceInventory\StockManagementInterface" type="Magestore\Webpos\Model\MultiSourceInventory\StockManagement" />
    <preference for="Magestore\Webpos\Api\MultiSourceInventory\SourceManagementInterface" type="Magestore\Webpos\Model\MultiSourceInventory\SourceManagement" />

    <type name="Magento\InventorySales\Model\ResourceModel\StockIdResolver">
        <plugin name="webpos_stock_id_resolve" type="Magestore\Webpos\Plugin\InventorySales\Model\ResourceModel\StockIdResolver" />
    </type>
    <type name="Magento\InventorySales\Model\CheckItemsQuantity">
        <plugin name="webpos_check_item_quantity" type="Magestore\Webpos\Plugin\InventorySales\Model\CheckItemsQuantity" />
    </type>
    <type name="Magento\InventoryReservations\Model\ResourceModel\SaveMultiple">
        <plugin name="webpos_reservation_resource_save_multiple" type="Magestore\Webpos\Plugin\InventoryReservations\Model\ResourceModel\SaveMultiple" />
    </type>
    <type name="Magento\Inventory\Model\ResourceModel\SourceItem\DeleteMultiple">
        <plugin name="webpos_reservation_resource_delete_multiple" type="Magestore\Webpos\Plugin\InventoryReservations\Model\ResourceModel\DeleteMultiple" />
    </type>

    <!-- shipment -->
    <type name="Magento\InventoryShippingAdminUi\Ui\DataProvider\SourceSelectionDataProvider">
        <plugin name="webpos_inventoryshipping_dataprovider" type="Magestore\Webpos\Plugin\InventoryShippingAdminUi\Ui\DataProvider\SourceSelectionDataProvider" />
    </type>
    <type name="Magento\InventoryShippingAdminUi\Block\Adminhtml\Shipment\Inventory">
        <plugin name="webpos_inventoryshipping_new" type="Magestore\Webpos\Plugin\InventoryShippingAdminUi\Block\Adminhtml\Shipment\Inventory" />
    </type>

    <!-- canceled Order-->
    <type name="Magento\InventorySales\Model\PlaceReservationsForSalesEvent">
        <plugin name="webpos_canceled_order" type="Magestore\Webpos\Plugin\InventorySales\Model\PlaceReservationsForSalesEvent" sortOrder="50" />
    </type>

    <!--Stock MSI-->
    <type name="Magento\InventoryCatalogAdminUi\Observer\ProcessSourceItemsObserver">
        <plugin name="webpos_process_source_items" type="Magestore\Webpos\Plugin\InventoryCatalogAdminUi\Observer\ProcessSourceItemsObserver" />
    </type>
    <type name="Magento\InventoryAdminUi\Model\Stock\StockSourceLinkProcessor">
        <plugin name="prevent_process_for_stock_location" type="Magestore\Webpos\Plugin\InventoryAdminUi\Model\Stock\StockSaveProcessor\PreventProcessForStockLocation"/>
    </type>
    <type name="Magento\Inventory\Model\Stock\Command\DeleteByIdInterface">
        <plugin name="prevent_delete_stock_location" type="Magestore\Webpos\Plugin\Inventory\Model\Stock\Command\PreventDeleteStockLocation"/>
    </type>

    <type name="Magento\InventorySourceDeductionApi\Model\SourceDeductionService">
        <plugin name="source_deduction_for_location" type="Magestore\Webpos\Plugin\InventorySourceDeductionApi\Model\SourceDeductionService" sortOrder="50"/>
    </type>
    <type name="Magento\Inventory\Model\SourceItem\Command\SourceItemsSave">
        <plugin name="update_stock_updated_time_after_save_source_items" type="Magestore\Webpos\Plugin\Inventory\Model\SourceItem\Command\SourceItemsSave"/>
    </type>

    <preference for="Magestore\Webpos\Api\Data\Tax\TaxDetailInterface" type="Magestore\Webpos\Model\Tax\TaxDetail"/>

    <type name="Magento\InventorySalesApi\Model\GetSkuFromOrderItemInterface">
        <plugin name="webpos_deleted_product" type="Magestore\Webpos\Plugin\InventorySales\Model\GetSkuFromOrderItem"/>
    </type>
    <type name="Magento\InventoryCatalogApi\Model\GetSkusByProductIdsInterface">
        <plugin name="webpos_deleted_product" type="Magestore\Webpos\Plugin\InventoryCatalog\Model\GetSkusByProductIds"/>
    </type>

    <!-- Label Resource -->
    <type name="Magestore\Appadmin\Model\Staff\Acl\LabelResources">
        <arguments>
            <argument name="labelResources" xsi:type="array">
                <item name="webpos" xsi:type="string">Magestore_Webpos::manage_pos</item>
                <item name="manage_checkout" xsi:type="string">Magestore_Webpos::manage_checkout</item>
                <item name="manage_session" xsi:type="string">Magestore_Webpos::manage_session</item>
            </argument>
        </arguments>
    </type>
    <!-- End Label Resource -->

    <!-- Plugin AddressRepository -->
    <type name="Magento\Customer\Model\ResourceModel\AddressRepository">
        <plugin name="customer_address_repository_save" type="Magestore\Webpos\Plugin\Customer\AddressRepository"/>
    </type>
    <!-- End: Plugin AddressRepository -->

    <!-- Plugin sales_order_grid collection -->
    <type name="Magento\Sales\Model\ResourceModel\Order\Grid\Collection">
        <plugin name="sales_order_grid_collection_data_provider" type="Magestore\Webpos\Plugin\Order\Grid\Collection"/>
    </type>
    <!-- End: Plugin sales_order_grid collection -->
    <type name="Magestore\FulfilSuccess\Controller\Adminhtml\PackRequest\SavePackManually">
        <plugin name="WebposShippingFulfilSuccessControllerPackRequestSavePackManuallyPlugin" type="Magestore\Webpos\Plugin\FulfilSuccess\Controller\Adminhtml\PackRequest\SavePackManuallyPlugin" sortOrder="1" />
    </type>
    <!-- Change order comment when refund on POS -->
    <type name="Magento\Sales\Model\Order\Payment">
        <plugin name="change_order_comment_when_refund_on_pos" type="Magestore\Webpos\Plugin\Sales\Model\Order\Payment" sortOrder="1" disabled="false"/>
    </type>
    <!-- End: Change order comment when refund on POS-->
    <type name="Magento\Catalog\Model\Product\Action">
        <plugin name="index_visible_pos" type="Magestore\Webpos\Plugin\Catalog\Product\Action" sortOrder="1" disabled="false"/>
    </type>
    <!-- Unregister data current_creditmemo before loading new request -->
    <type name="Magento\Sales\Controller\Adminhtml\Order\CreditmemoLoader">
        <plugin name="unregister_current_creditmemo_before_adding_new_one" type="Magestore\Webpos\Plugin\Sales\Controller\Adminhtml\Order\CreditmemoLoader" sortOrder="1" disabled="false"/>
    </type>
    <!-- End: Unregister data current_creditmemo before loading new request -->

    <type name="Magestore\Webpos\Model\Service\Request\SaveActionLog">
        <arguments>
            <argument name="actionLogType" xsi:type="array">
                <item name="order" xsi:type="string">Magestore\Webpos\Model\Checkout\PosOrder</item>
                <item name="take_payment" xsi:type="string">Magestore\Webpos\Model\Request\Actions\TakePaymentAction</item>
                <item name="shipment" xsi:type="string">Magestore\Webpos\Model\Request\Actions\ShipmentAction</item>
                <item name="refund" xsi:type="string">Magestore\Webpos\Model\Request\Actions\RefundAction</item>
                <item name="cancel" xsi:type="string">Magestore\Webpos\Model\Request\Actions\CancelAction</item>
            </argument>
        </arguments>
    </type>

    <preference for="Magestore\Webpos\Api\Checkout\PosOrderRepositoryInterface" type="Magestore\Webpos\Model\Checkout\PosOrderRepository"/>
    <type name="Magestore\Webpos\Model\ResourceModel\Checkout\PosOrder\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">webpos_order</argument>
            <argument name="resourceModel" xsi:type="string">Magestore\Webpos\Model\ResourceModel\Checkout\PosOrder</argument>
        </arguments>
    </type>

    <!-- Magestore logger -->
    <type name="Magestore\Webpos\Log\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Magestore\Webpos\Log\Logger">
        <arguments>
            <argument name="name" xsi:type="string">magestore-logger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Magestore\Webpos\Log\Handler</item>
            </argument>
        </arguments>
    </type>
    <!-- End: Magestore logger -->

    <!-- Elastic search index data -->
    <type name="Magento\Elasticsearch\Model\Adapter\BatchDataMapper\DataMapperFactory">
        <arguments>
            <argument name="dataMappers" xsi:type="array">
                <item name="webpos_productsearch_fulltext" xsi:type="string">Magestore\Webpos\Model\Adapter\BatchDataMapper\ProductDataMapper</item>
            </argument>
        </arguments>
    </type>
    <type name="Magestore\Webpos\Model\Adapter\DataMapper\AdditionalFieldsProvider">
        <arguments>
            <argument name="fieldsProviders" xsi:type="array">
                <item name="barcodes" xsi:type="object">Magestore\Webpos\Model\Adapter\BatchDataMapper\BarcodeFieldsProvider</item>
                <item name="stock_id" xsi:type="object">Magestore\Webpos\Model\Adapter\BatchDataMapper\StockIdFieldsProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Elasticsearch\Model\Adapter\FieldMapper\FieldMapperResolver">
        <arguments>
            <argument name="fieldMappers" xsi:type="array">
                <item name="webpos_productsearch_fulltext" xsi:type="string">Magestore\Webpos\Model\Adapter\FieldMapper\ProductFieldMapperProxy</item>
            </argument>
        </arguments>
    </type>
    <type name="Magestore\Webpos\Model\Adapter\FieldMapper\ProductFieldMapperProxy">
        <arguments>
            <argument name="productFieldMappers" xsi:type="array">
                <item name="elasticsearch7" xsi:type="object">Magestore\Webpos\Model\Adapter\FieldMapper\ProductFieldMapper</item>
                <item name="elasticsearch6" xsi:type="object">Magestore\Webpos\Model\Adapter\FieldMapper\ProductFieldMapper</item>
                <item name="elasticsearch5" xsi:type="object">Magestore\Webpos\Model\Adapter\FieldMapper\ProductFieldMapper</item>
                <item name="elasticsearch" xsi:type="object">Magestore\Webpos\Model\Adapter\FieldMapper\ProductFieldMapper</item>
            </argument>
        </arguments>
    </type>
    <type name="Magestore\Webpos\Model\Adapter\FieldMapper\ProductFieldMapper">
        <arguments>
            <argument name="fieldProvider" xsi:type="object">elasticsearchPosProductFieldProvider</argument>
            <argument name="fieldNameResolver" xsi:type="object">elasticsearch5FieldNameResolver</argument>
        </arguments>
    </type>
    <virtualType name="elasticsearchPosProductFieldProvider" type="Magento\Elasticsearch\Model\Adapter\FieldMapper\Product\CompositeFieldProvider">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="static" xsi:type="object">Magestore\Webpos\Model\Adapter\FieldMapper\Product\FieldProvider\StaticField</item>
                <item name="dynamic" xsi:type="object">Magestore\Webpos\Model\Adapter\FieldMapper\Product\FieldProvider\DynamicField</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magestore\Webpos\Model\Adapter\FieldMapper\Product\FieldProvider\StaticField">
        <arguments>
            <argument name="fieldTypeConverter" xsi:type="object">Magento\Elasticsearch\Elasticsearch5\Model\Adapter\FieldMapper\Product\FieldProvider\FieldType\Converter</argument>
            <argument name="indexTypeConverter" xsi:type="object">Magento\Elasticsearch\Elasticsearch5\Model\Adapter\FieldMapper\Product\FieldProvider\FieldIndex\Converter</argument>
            <argument name="fieldIndexResolver" xsi:type="object">Magento\Elasticsearch\Elasticsearch5\Model\Adapter\FieldMapper\Product\FieldProvider\FieldIndex\IndexResolver</argument>
            <argument name="fieldTypeResolver" xsi:type="object">Magento\Elasticsearch\Elasticsearch5\Model\Adapter\FieldMapper\Product\FieldProvider\FieldType\Resolver\CompositeResolver</argument>
            <argument name="fieldNameResolver" xsi:type="object">elasticsearch5FieldNameResolver</argument>
        </arguments>
    </type>
<!--    <type name="Magestore\Webpos\Model\Indexer\Fulltext">-->
<!--        <arguments>-->
<!--            <argument name="dimensionProvider" xsi:type="object" shared="false">Magento\Store\Model\StoreDimensionProvider</argument>-->
<!--        </arguments>-->
<!--    </type>-->
    <!-- Init IndexerHandler by engine -->
    <type name="Magestore\Webpos\Model\Indexer\IndexerHandlerFactory">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="elasticsearch7" xsi:type="string">Magestore\Webpos\Model\Indexer\IndexerHandler</item>
                <item name="elasticsearch6" xsi:type="string">Magestore\Webpos\Model\Indexer\IndexerHandler</item>
                <item name="elasticsearch5" xsi:type="string">Magestore\Webpos\Model\Indexer\IndexerHandler</item>
                <item name="elasticsearch" xsi:type="string">Magestore\Webpos\Model\Indexer\IndexerHandler</item>
            </argument>
        </arguments>
    </type>
    <!-- Declare IndexStructure for elastic search -->
    <type name="Magestore\Webpos\Model\Indexer\IndexStructureFactory">
        <arguments>
            <argument name="structures" xsi:type="array">
                <item name="elasticsearch7" xsi:type="string">Magestore\Webpos\Model\Indexer\IndexStructure</item>
                <item name="elasticsearch6" xsi:type="string">Magestore\Webpos\Model\Indexer\IndexStructure</item>
                <item name="elasticsearch5" xsi:type="string">Magestore\Webpos\Model\Indexer\IndexStructure</item>
                <item name="elasticsearch" xsi:type="string">Magestore\Webpos\Model\Indexer\IndexStructure</item>
            </argument>
        </arguments>
    </type>
    <!-- Plugin to change visibility allow for pos elastic search data -->
    <type name="Magento\Elasticsearch\Model\ResourceModel\Engine">
        <plugin name="change_visibility_allow_for_pos_elastic_search_data" type="Magestore\Webpos\Plugin\Elasticsearch\Model\ResourceModel\Engine" sortOrder="1" disabled="false"/>
    </type>
    <!-- Disable check param of inventory when reindexing POS data => because POS shows product by location not store view -->
    <type name="Magento\InventoryElasticsearch\Plugin\CatalogSearch\Model\Indexer\Fulltext\Action\DataProvider\StockedProductFilterByInventoryStock">
        <plugin name="disable_check_stock_by_store_id" type="Magestore\Webpos\Model\Indexer\Preference\InventoryElasticsearch\Plugin\StockedProductFilterByInventoryStock" sortOrder="1" disabled="false"/>
    </type>
    <!-- End: Elastic search index data -->
    <type name="Magento\Elasticsearch\SearchAdapter\Aggregation\Builder">
        <arguments>
            <argument name="dataProviderContainer" xsi:type="array">
                <item name="webpos_productsearch_fulltext" xsi:type="object">Magento\Elasticsearch\SearchAdapter\Dynamic\DataProvider</item>
            </argument>
        </arguments>
    </type>

    <preference for="Magento\Framework\Filesystem\DriverInterface" type="Magento\Framework\Filesystem\Driver\File" />
    <preference for="Magestore\Webpos\Api\Sales\OrderManagement\AppendReservationsAfterOrderPlacementInterface" type="Magestore\Webpos\Model\Sales\OrderManagement\AppendReservationsAfterOrderPlacement" />

    <type name="Magento\Catalog\Model\Indexer\Product\Price">
        <plugin name="skip_hide_option_custom_sale" type="Magestore\Webpos\Plugin\Indexer\Product\Price" sortOrder="1" disabled="false"/>
    </type>
    <!-- Invalid webpos search index when source changes -->
    <!-- Update webpos_search_product indexer -->
    <type name="Magento\InventoryApi\Api\SourceRepositoryInterface">
        <plugin name="invalidate_webpos_search_after_enabling_or_disabling_source" type="Magestore\Webpos\Plugin\InventoryApi\InvalidateAfterEnablingOrDisablingSourcePlugin"/>
    </type>
    <type name="Magento\InventoryApi\Api\StockSourceLinksDeleteInterface">
        <plugin name="invalidate_webpos_search_after_stock_source_links_delete" type="Magestore\Webpos\Plugin\InventoryApi\InvalidateAfterStockSourceLinksDeletePlugin"/>
    </type>
    <type name="Magento\InventoryApi\Api\StockSourceLinksSaveInterface">
        <plugin name="invalidate_webpos_search_after_stock_source_links_save" type="Magestore\Webpos\Plugin\InventoryApi\InvalidateAfterStockSourceLinksSavePlugin"/>
    </type>
    <type name="Magento\Inventory\Model\ResourceModel\SourceItem\SaveMultiple">
        <plugin name="reindex_list_when_source_item_is_added_to_new_source" type="Magestore\Webpos\Plugin\Inventory\Model\ResourceModel\SourceItem\SaveMultiple" sortOrder="1" disabled="false"/>
    </type>
    <!-- End: Update webpos_search_product indexer -->

    <type name="Magento\Elasticsearch\Model\Adapter\FieldMapper\FieldMapperResolver">
        <plugin name="plugin_field_map_resolver" type="Magestore\Webpos\Plugin\Elasticsearch\Adapter\FieldMapper\FieldMapperResolver" sortOrder="1" disabled="false"/>
    </type>
</config>
