<?xml version="1.0"?>
<!--
  ~ Copyright © 2017 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_checkout_cart_index">
        <observer name="checkout_cart_index_action" instance="Magestore\Giftvoucher\Observer\Frontend\CartIndexActionObserver" />
    </event>
    <event name="controller_action_predispatch_checkout_cart_couponPost">
        <observer name="checkout_cart_couponPost_action" instance="Magestore\Giftvoucher\Observer\Frontend\CouponPostActionObserver" />
    </event>
    <event name="sales_quote_collect_totals_after">
        <observer name="quote_collect_totals_after" instance="Magestore\Giftvoucher\Observer\Frontend\CollectTotalsAfterObserver" />
    </event>
    <event name="controller_action_predispatch_multishipping">
        <observer name="predispatch_checkout_index_index" instance="Magestore\Giftvoucher\Observer\Frontend\PredispatchCheckoutObserver" />
    </event>
    <event name="controller_action_predispatch_checkout_index_index">
        <observer name="checkout_cart_couponPost_action" instance="Magestore\Giftvoucher\Observer\Frontend\PredispatchCheckoutObserver" />
    </event>
    <event name="controller_action_predispatch_onestepcheckout_index_index">
        <observer name="checkout_cart_couponPost_action" instance="Magestore\Giftvoucher\Observer\Frontend\PredispatchCheckoutObserver" />
    </event>
    <event name="core_layout_render_element">
        <observer name="core_layout_render_element" instance="Magestore\Giftvoucher\Observer\Frontend\GiftcardPaymentMethodObserver" />
    </event>
</config>
