/*
 * Copyright © 2017 Magestore. All rights reserved.
 * See COPYING.txt for license details.
 */

.fieldset #gift_value{
    width: 273px  !important;
}
.fieldset #gift_from{
    width: 273px  !important;
}
.fieldset #gift_to{
    width: 273px  !important;
}
.fieldset #gift_dropdown{
    width: 273px  !important;
}
.fieldset #gift_price{
    width: 273px  !important;
}